@import '_setting.scss';

.board-content {
	height: $board-content-height;
	display: flex;
	overflow-x: auto;
	overflow-y: hidden;
	&::after {
		content: '';
		flex: 0 0 $gap;
	}
	&::-webkit-scrollbar {
		-webkit-appearance: none;
	}
	&::-webkit-scrollbar:horizontal {
		height: 12px;
	}
	&::-webkit-scrollbar-track-piece {
		background: #091e4214;
		border-radius: 8px;
	}
	&::-webkit-scrollbar-thumb {
		background-color: $common-element-bg;
		border-radius: 8px;
	}

	.column-drop-preview {
		background-color: rgba(150, 150, 200, 0.1);
		border: 1px dashed #abc;
		margin: 5px 45px 5px 5px;
	}

	.add-another-column {
		margin-left: $gap;
		width: 300px;
		max-width: 300px;
		line-height: 32px;
		padding: 4px 0 4px 16px;
		font-size: 15px;
		color: white;
		background-color: hsla(0, 0%, 100%, 0.24);
		border-radius: $column-border-radius;
		cursor: pointer;

		&:hover {
			background-color: hsla(0, 0%, 100%, 0.34);
		}
	}

	.enter-new-column {
		width: 300px;
		max-width: 300px;
		margin-left: $gap;
		background-color: $column-bg-color;
		line-height: 32px;
		padding: 5px 10px;
		border-radius: $column-border-radius;

		.input-new-column {
			margin: 4px 0;
		}

		.add-column-control {
			margin: 5px 0;
			display: flex;
			align-items: center;
		}
	}
}

.loader {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
