@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

$gap: 10px;
//$navbar-app-height + $navbar-board-height + $board-content-height = 99vh
$navbar-app-height: 5vh;
$navbar-board-height: 6vh;
$board-content-height: 88vh;


$common-element-bg: rgba(255, 255, 255, 0.24);

$text-color: #333;
