@import '_setting.scss';

$board-bg-color: #0079bf;

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	line-height: 1.3em;
}

.trello-app {
	height: 100vh;
	display: grid;
	grid-template-rows: 40px 50px 1fr;
	background-color: $board-bg-color;
}
