@import '~bootstrap/scss/bootstrap';
@import '_setting.scss';

$board-bg-color: #0079bf;

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	line-height: 1.3em;
}

.trello-app {
	height: 100vh;
	background-color: $board-bg-color;
	color: $text-color;

	.icon {
		font-size: 14px;
		margin: 0 4px;
	}

	.container {
		padding: 0;
		margin: 0 $gap;
	}

	textarea:focus,
	textarea.form-control:focus,
	input.form-control:focus,
	input[type='text']:focus,
	input[type='password']:focus,
	input[type='email']:focus,
	input[type='number']:focus,
	[type='text'].form-control:focus,
	[type='password'].form-control:focus,
	[type='email'].form-control:focus,
	[type='tel'].form-control:focus,
	[contenteditable].form-control:focus {
		box-shadow: none;
	}

	.btn:focus,
	.btn:active {
		outline: none;
		box-shadow: none;
	}
}
